<h1>Merchants</h1>

<section class="item-box">
  <% @merchants.each do |merchant| %>
  <div class="merch-container">
    <a id="pic" href="https://loremflickr.com"><img src="http://loremflickr.com/200/150/face" alt="merchant pic"></a>
    <div>
      <p>
        <strong>Username:</strong><%= link_to merchant.username, merchant_path(merchant.id) %>
      </p>
      <p>
        <strong>Email:</strong><%= merchant.email %>
      </p>
    </div>
  </div>
  <% end %>
</section>
