<h1>Merchants</h1>

<section class="all-merchants">
  <table>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <% @merchants.each do |merchant| %>
    <tr>
      <td>
        <%= link_to merchant.username, merchant_path(merchant.id) %>
      </td>
      <td>
        <%= merchant.email %>
      </td>
    </tr>
    <% end %>
  </table>
</section>
