/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*= require normalize-rails

*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/
body {
  background-color:  #ffe6cc;
  font-family: 'Pontano Sans', sans-serif;
}

.nav-drop p a {
  display: flex;
  align-items: center;
  margin: 0;
  border: 0;
}

#show-pic {
  width: 250px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  display: flex;
  justify-content: center;
  border: thin solid grey;
}

#pic {
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  display: flex;
  justify-content: center;
  border: thin solid grey;
}

.nav-drop p {
  margin: 0;
  padding-left: .2em;
}

.submit {
  background-color: #ffaa80;
  border: solid thin;
  width: 10em;
  height: 3em;
  font-weight: bold;
}

#login {
  padding:.25em .25em;
  display: flex;
  flex-direction: row;
}

#login a {
  margin: 0;
}

.top-bar {
  background-color:  #009999;
  border-bottom: dotted;
  border-bottom-color: skyblue;
  padding: .25em;
  margin: 0;
}

.button {
  background-color: white;
  color: black;
  border: black solid thin;
}

h1 {
  font-family: 'Pacifico', cursive;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.merch-container {
  display: grid;
  grid-template:
  "image"
  "text";
  padding: 2em;
}

.merch-container #pic {
  grid-area: image;
  display: flex;
  justify-content: center;
}

.root-info {
  display: flex;
  flex-direction: column;
}

.merch-container p {
  grid-area: text;
  display: flex;
  justify-content: center;
  margin: 0;
}

.rating-container p, h4 {
  display: flex;
  justify-content: center;
}

.rating-container {
  padding-top: 3em;
}

.rating-container ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

strong {
  margin-right: .3em;
}

.product-container {
  padding: 1.5em;
  border: solid thin grey;
  margin-bottom: 4em;
  margin-left: 2em;
  margin-right: 2em;
  background-color: rgba(255, 255, 255, 0.5);
}

.product-container h4 {
  display: flex;
  justify-content: center;
}

.product-info {
  border: solid;
  border-style: outset;
  background-color: #ffaa80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info p {
  margin: 0;
  padding-left: .5em;
}

td {
  text-align: center;
  background-color: white;
  border: solid grey thin;
}

th {
  background-color: #ffaa80;
  /* color: white; */
  border: solid grey thin;
}

.cart-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

table {
  width: 80%;
  margin: 80px;
  margin-left: 10%;
}

/* tr:hover {
background-color: #f5f5f5;
} */

#home-title {
  padding-top: 2em;
  padding-bottom: 2em;
}

.user-profile, .user-products-view {
  text-align: center;
}

#review {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#review ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#review li {
  list-style: none;
  padding: 8px;
}

.flash {

}

.merch-container {
  display: grid;
  grid-template:
  "image"
  "text";
  padding: 2em;
}

.product-show-details {
  display: flex;
  justify-content: center;
}

.product-show-details #show-pic {
  margin: 0;
}

.product-show-container {
  border: solid thin grey;
  padding-top: 1.5em;
  width: 450px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.new-product {
  padding-right: .5em;
  padding-left: .5em;
  border: solid thin grey;
  padding-top: 1.5em;
  width: 450px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.product-form {
  display: flex;
  justify-content: center;
}

.product-show-details p {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0;
}

.new_orderproduct {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  margin: auto;
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid thin grey;
  padding-top: 1.5em;
  width: 300px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.category-list li {
  list-style: none;
}

.category-button, #submit {
  display: flex;
  justify-content: center;
}
