<<<<<<< HEAD
<
=======

>>>>>>> product_controller
<section>
  <ul>
    <% @categories.each do |category|%>
    <li><%= link_to categories.name, categories_path(category.id) %></li>
    <% end %>
  </ul>
</section>
