<<<<<<< HEAD
<h1>Categories</h1>
=======
>>>>>>> product_controller

<section>
  <ul>
    <% @categories.each do |category|%>
<<<<<<< HEAD
    <li><%= link_to category.name, category_path(category.id) %></li>
=======
    <li><%= link_to categories.name, categories_path(category.id) %></li>
>>>>>>> product_controller
    <% end %>
  </ul>
</section>
