<<<<<<< HEAD
=======

<h1>Categories</h1>

>>>>>>> testing

<section>
  <ul>
    <% @categories.each do |category|%>
<<<<<<< HEAD
    <li><%= link_to categories.name, categories_path(category.id) %></li>
<h1>Categories</h1>

<section>
  <ul>
    <% @categories.each do |category|%>
=======

>>>>>>> testing
    <li><%= link_to category.name, category_path(category.id) %></li>

    <% end %>
  </ul>
</section>
