<h1 class="home-title">Sweetsy!</h1>

<section>
  <ul>
    <% @products.each do |product|%>
    <li><%= link_to product.name, product_path(product.id) %></li>
    <% end %>
  </ul>
</section>
<!-- <ul class="dropdown menu" data-dropdown-menu>
  <% @merchants.each do |merchant| %>
  <li><%= merchant.name %></li>
</ul>
<% end %> -->
